body {
  padding-top: 50px;
  background: #f5f5f5;
  /* Sidebar navigation */
}

@media (min-width: 768px) {
  body .navbar-collapse.collapse {
    display: none !important;
  }
}

body .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

body .navbar-fixed-top {
  border: 0;
}

body .sidebar {
  display: none;
}

@media (min-width: 768px) {
  body .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

body .nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

body .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

body .nav-sidebar > .active > a,
body .nav-sidebar > .active > a:hover,
body .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

body .main {
  padding: 20px;
}

@media (min-width: 768px) {
  body .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

body .main .page-header {
  margin-top: 0;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  body .main .page-header {
    font-size: 3.5rem;
  }
}

body .loading {
  position: relative;
}

body .loading:after {
  position: absolute;
  z-index: 9999;
  content: '';
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .9;
  background-color: #eee;
  background-image: linear-gradient(to right, #eee 0%, #fcfcfc 50%, #eee 100%);
  background-repeat: repeat-y;
  background-size: 200px;
  animation-name: loadingAnimacao;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

body .fullmap, body .previewmap {
  display: block;
  width: 100%;
  position: relative;
}

body .fullmap .fullmap-inner, body .previewmap .fullmap-inner {
  width: 100%;
  height: 100%;
  display: block;
}

body .fullmap {
  height: calc(100vh - 250px);
}

body .previewmap {
  height: 50vh;
}

body .toolbar {
  margin-bottom: 20px;
}

body .form-modal .form-modal-row {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: stretch;
  margin-bottom: 8px;
}

body .form-modal .form-modal-row .form-modal-label {
  width: 100px;
  min-width: 100px;
  margin: 6px;
  text-align: right;
}

body .form-modal .form-modal-row .form-modal-content {
  flex-grow: 1;
}

body .form-modal .form-modal-row .form-modal-row {
  margin-bottom: 0;
}

@keyframes loadingAnimacao {
  from {
    background-position-x: -200px;
  }
  to {
    background-position-x: calc(100% + 200px);
  }
}
